<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.mappers.BoardMapper">

	<insert id="writeBoard"
		parameterType="com.dream.entity.Tb_Board">
		insert into tb_board
		(user_email, board_title,
		board_content,board_likes,board_views)
		values
		(#{userEmail},
		#{boardTitle},
		#{boardContent},#{boardLikes},#{boardViews})
	</insert>

	<resultMap id="BoardResultMap"
		type="com.dream.entity.Tb_Board">
		<id property="boardIdx" column="board_idx" />
		<result property="userEmail" column="user_email" />
		<result property="boardTitle" column="board_title" />
		<result property="boardContent" column="board_content" />
		<result property="boardWriteDate" column="board_write_dt" />
		<result property="boardViews" column="board_views" />
		<result property="boardLikes" column="board_likes" />
		<result property="boardDelYn" column="board_del_yn" />
	</resultMap>


	<select id="selectAllBoards"
		resultType="com.dream.entity.Tb_Board">
		SELECT
		b.board_idx AS boardIdx,
		u.user_nickname AS userNickname,
		b.user_email AS userEmail,
		b.board_title AS boardTitle,
		b.board_content AS boardContent,
		b.board_write_dt AS boardWriteDt,
		b.board_views AS boardViews,
		b.board_likes AS boardLikes,
		b.board_del_yn AS boardDelYn,
		COALESCE(COUNT(c.comment_idx), 0) AS commentCount
		FROM
		tb_board b
		LEFT JOIN
		tb_user u ON b.user_email = u.user_email
		LEFT JOIN
		tb_comment c ON b.board_idx = c.board_idx
		GROUP BY
		b.board_idx
		ORDER BY
		b.board_write_dt DESC;
	</select>

	<select id="searchBoard" resultType="com.dream.entity.Tb_Board">
		SELECT
		b.board_idx AS boardIdx,
		u.user_nickname AS userNickname,
		b.user_email AS userEmail,
		b.board_title AS boardTitle,
		b.board_content AS boardContent,
		b.board_write_dt AS boardWriteDt,
		b.board_views AS boardViews,
		b.board_likes AS boardLikes,
		b.board_del_yn AS boardDelYn,
		COALESCE(COUNT(c.comment_idx), 0) AS commentCount
		FROM
		tb_board b
		LEFT JOIN
		tb_user u ON b.user_email = u.user_email
		LEFT JOIN
		tb_comment c ON b.board_idx = c.board_idx
		WHERE
		b.board_title Like #{searchValue}
		GROUP BY
		b.board_idx
		ORDER BY
		b.board_write_dt DESC;
	</select>




</mapper>