<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.mappers.QuestionMapper">
	
	<resultMap id="questionResultMap" type="com.dream.entity.Tb_Question">
	    <id property="questionIdx" column="question_idx" />
	    <result property="category.categoryIdx" column="category_idx" />
	    <result property="questionContent" column="question_content" />
	    <result property="placeholder" column="placeholder" />
	    <result property="mentorYn" column="mentor_yn" />
	</resultMap>

    <select id="getQuestionsByCategory" parameterType="map" resultMap="questionResultMap">
    SELECT 
        question_idx,
        category_idx,
        question_content,
        placeholder,
        mentor_yn
    FROM 
        tb_question
    WHERE 
        category_idx = #{categoryIdx} 
        AND mentor_yn = #{mentorYn}
</select>
</mapper>
